// Backgrounds
$bg-white:#fff;
$body-bg:#f4f4f4;
$header-bg:#DDDDDD;

$base-line-height:24px;
$skincolor: #f2541b;
$lightcolor:#fff; //white color and background
$graycolor:#777; //gray color for p tags
$darkcolor:#333; //dark color for heading
$ciBlue:#00adef;
$grey:#918F90;


/** FONTS **/
$primary-font: 'Open Sans', sans-serif; //default font family
$secondry-font:  'Libre Baskerville', serif; //sub title font family

// Font sizes
$base-font-size:17px; //default basic font size
$alert-color:red; //alert color

$default-border: 1px solid #eee;